body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens no topo */
}

canvas {
    border: 1px solid #000;
    margin-right: 10px; /* Adiciona margem à direita do canvas */
    background-color: #8c92ac;
    cursor: crosshair;
    /* width:100vw;
    height:100vh; */
    /* #ECEBE9; */
  }

button {
  cursor: pointer;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#triangleTableContainer {
    align-items: flex-start;
    background-color: #8c92ac;
    overflow-y: auto; /* Adiciona scrollbar vertical quando necessário */
    border: 1px solid #000;
    width: 400px; /* Define uma largura fixa para a tabela */
    height: 600px; /* Define uma altura fixa para a tabela */
    margin-bottom: 10px; /* Adiciona margem inferior à tabela */
  }
  #triangleTable {
    width: 100%; /* Largura agora é 100% do contêiner */
  }
/* Estilo para o modo noturno */
body.dark-mode {
  background-color: #121212;
  color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a, .dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content div {
  padding: 12px;
}
.dropdown-content div input {
  width: 100%;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}